header {
  display: flex;
  font-size: 20px;
  position: sticky;
  border-bottom: thin solid white;
  height: 3rem;
  background-color: whitesmoke;
  justify-content: center;
}

.header_main {
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
}

.header_main_title {
  color: rgb(20, 20, 20);
}

.center {
  display: flex;
}
